 <!-- ===============================================
    START FOOTER =================================== -->
    <div class="container">
        <div class="footer">
            <p>Copyright © 2014 iCOOK Blog. All rights reserved. Vivamus gravida justo sed nisl viverra in venenatis lacus posuere.</p>
            <ul>
                <li><a href="about.php">About</a></li>
                <li><a href="recipe.php">Recipe Gallery</a></li>
                <li><a href="contact.php">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- ===============================================
    END FOOTER =================================== -->